@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-display: "Inter", sans-serif;
  --font-sans: "Geist Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50 m-0 p-0 box-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen;
  }
  html {
    @apply font-sans antialiased min-h-screen;
  }
}

@layer login-utils {
  .page {
    @apply relative p-6 h-screen flex items-center justify-center flex-col font-display bg-[radial-gradient(circle_at_top_right,rgba(208,109,61,0.3),transparent)];
  }

  .logo-img {
    @apply h-6 overflow-hidden drop-shadow-[0_4px_6px_rgba(208,109,61,0.3)];
  }

  .logo-text {
    @apply text-[19px] text-gray-700 font-bold;
  }

  .form-welcome {
    @apply text-3xl font-medium;
  }

  .form-description {
    @apply text-lg text-gray-600 mb-6;
  }

  .input-label {
    @apply block text-sm font-medium text-gray-700;
  }

  .footer {
    @apply font-medium text-[#D06D3D] hover:text-[#A85B2E];
  }
}

@layer loading-utils {
  .loading-overlay {
    @apply absolute top-0 left-0 w-full h-full z-100 flex items-center justify-center backdrop-blur-xs rounded-xl;
  }
  .loading-spinner {
    @apply h-8 w-8 animate-spin rounded-full border-4 z-100 border-solid border-blue-600 border-t-transparent;
  }
}

@layer dashboard-utils {
  .dashboard-page {
    @apply p-6 min-h-screen flex flex-col font-display bg-[#FAF3EE] md:px-32 md:py-12;
  }
  .header {
    @apply md:flex md:flex-row items-center justify-between mb-8;
  }
  .header-nav {
    @apply flex flex-row items-center justify-between md:justify-start space-x-2 mb-6 md:mb-0;
  }
  .header-logo {
    @apply flex gap-2 items-center;
  }
  .header-right {
    @apply flex flex-row items-center space-x-3;
  }

  .logout-container-mobile {
    @apply md:hidden flex bg-[#f4b89c] rounded-md h-9 px-3 items-center justify-center cursor-pointer hover:bg-[#D06D3D] transition;
  }

  .logout-container-desktop {
    @apply hidden md:flex bg-[#f4b89c] rounded-md h-9 px-3 items-center justify-center cursor-pointer hover:bg-[#D06D3D] transition;
  }

  .logout-icon {
    @apply h-5 cursor-pointer;
  }

  .input-container {
    @apply flex flex-row items-center bg-white/80 rounded-xl w-full md:w-75 h-10 max-w-md border-[0.5px] border-gray-200;
  }

  .search-icon {
    @apply h-4 mt-1 px-3 cursor-pointer;
  }

  .send-icon-container {
    @apply bg-[#D06D3D] rounded-md h-8 w-10 md:h-9 md:w-10 flex items-center justify-center cursor-pointer hover:bg-[#FFE5c2] transition;
  }
  .send-icon {
    @apply h-4;
  }
}

@layer ai-utils {
  .ai-input-container {
    @apply flex flex-row bg-white/80 rounded-xl items-center w-full border-[0.5px] border-gray-200 py-2.5 px-3.5 mb-5 shadow-lg transition-all duration-200 
            focus-within:border-[#D06D3D] focus-within:ring-2 focus-within:ring-[#D06D3D] focus-within:ring-offset-2 focus-within:ring-offset-[#FFE5D2];
  }

  .ai-icon-container {
    @apply bg-[#FFE5D2] rounded-md h-8 w-10 md:h-9 md:w-10 flex items-center justify-center;
  }
  .ai-icon {
    @apply h-5 pr-0.5;
  }

  .ai-output-container {
    @apply bg-white/80 rounded-xl w-full border-[0.5px] border-gray-200 py-3.5 px-4.5 mb-2 shadow-lg;
  }
  .ai-output-header {
    @apply flex flex-row items-center justify-between mb-2;
  }
  .ai-output-title {
    @apply text-sm font-bold;
  }
  .ai-output-text {
    @apply text-gray-700;
  }
  .note-opener-container {
    @apply bg-[#FAF3EE] rounded-md py-1 md:py-0 md:h-8 px-2 md:w-full flex flex-row w-80 items-center space-x-2 mt-3 border-[0.5px] border-gray-300 hover:border-[#D06D3D] transition cursor-pointer;
  }
  .loading-container {
    @apply flex items-center justify-center w-full h-20;
  }
  .note-opener {
    @apply text-sm text-gray-600 hover:text-[#D06D3D] cursor-pointer text-ellipsis overflow-hidden whitespace-nowrap;
  }
}

@layer dashboard-notes-utils {
  .notes-container {
    @apply flex flex-col w-full h-full;
  }

  .notes-header {
    @apply flex flex-row items-baseline gap-3 mb-4;
  }

  .notes-title {
    @apply text-xl font-bold mb-4;
  }

  .notes-count {
    @apply text-xs text-gray-600;
  }

  .new-btn {
    @apply flex flex-col items-center justify-center border-[0.5px] border-dashed border-gray-200 rounded-xl hover:border-[#D06D3D] transition h-48 cursor-pointer;
  }
}

@layer dark-mode {
  .page-dark {
    @apply relative p-6 min-h-screen flex items-center justify-center flex-col font-display bg-[#0a0a0a];
  }
  .logo-text-dark {
    @apply text-[19px] text-gray-200 font-bold;
  }

  .form-welcome-dark {
    @apply text-3xl font-medium text-gray-200;
  }

  .form-description-dark {
    @apply text-lg text-gray-300 mb-6;
  }

  .input-label-dark {
    @apply block text-sm font-medium text-gray-300;
  }

  .dashboard-page-dark {
    @apply p-6 min-h-screen flex flex-col font-display bg-[#141815] md:px-32 md:py-12;
  }

  .logo-text-dark {
    @apply text-[19px] text-gray-300 font-bold;
  }

  .input-container-dark {
    @apply flex flex-row items-center bg-[#1E231F] rounded-xl w-full md:w-75 h-10 max-w-md border-[0.5px] border-[#262B27];
  }

  .search-icon-dark {
    @apply h-4 mt-1 px-3 cursor-pointer filter brightness-0 saturate-[100%] invert-[99%] sepia-[4%] saturate-[380%] hue-rotate-[240deg] brightness-[113%] contrast-[100%];
  }

  .ai-input-container-dark {
    @apply flex flex-row bg-[#1E231F] rounded-xl items-center w-full border-[0.5px] border-[#262B27] py-2.5 px-3.5 mb-5 shadow-lg transition-all duration-200 
            focus-within:border-[#D06D3D] focus-within:ring-2 focus-within:ring-[#D06D3D] focus-within:ring-offset-2 focus-within:ring-offset-[#FFE5D2];
  }

  .ai-icon-container-dark {
    @apply bg-[#5e4a3b] rounded-md h-8 w-10 md:h-9 md:w-10 flex items-center justify-center;
  }

  .ai-icon-dark {
    @apply h-5 pr-0.5 filter brightness-0 saturate-[100%] invert-[99%] sepia-[4%] saturate-[380%] hue-rotate-[240deg] brightness-[113%] contrast-[100%];
  }

  .ai-output-title-dark {
    @apply text-sm font-bold text-[#E8ECE8];
  }

  .ai-output-container-dark {
    @apply bg-[#1E231F] rounded-xl w-full border-[0.5px] border-[#262B27] py-3.5 px-4.5 mb-2 shadow-lg;
  }

  .ai-output-text-dark {
    @apply text-[#E8ECE8];
  }

  .note-opener-container-dark {
    @apply bg-[#141815] rounded-md py-1 md:py-0 md:h-8 px-2 md:w-full flex flex-row w-80 items-center space-x-2 mt-3 border-[0.5px] border-[#262B27] hover:border-[#D06D3D] transition cursor-pointer;
  }

  .note-opener-dark {
    @apply text-sm text-gray-300 hover:text-[#D06D3D] cursor-pointer text-ellipsis overflow-hidden whitespace-nowrap;
  }

  .notes-title-dark {
    @apply text-xl font-bold mb-4 text-[#E8ECE8];
  }

  .notes-count-dark {
    @apply text-xs text-gray-400;
  }

  .new-btn-dark {
    @apply flex flex-col items-center justify-center border-[0.5px] border-gray-800 rounded-xl hover:border-[#5e4a3b] transition h-48 cursor-pointer;
  }

  .alert-dialog-content-dark {
    @apply bg-[#292a29];
  }

  .alert-dialog-title-dark {
    @apply  text-[#c7c7c7] md:text-[#c7c7c7];
  }

  .alert-dialog-description-dark {
    @apply text-[#9c9c9c];
  }

  .alert-dialog-cancel-dark {
    @apply text-[#4c4c4c];
  }
}

